MYSQL_DATABASE=moodeng_multistore
MYSQL_USER=moodeng_user
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root

DB_HOST=mysql
DB_PORT=3306
BACKEND_PORT=3000

# External Stock Product APIs (leave blank until each member connects an API)
DOOR_API_URL=
PLUG_API_URL=
BRANDNAME_API_URL=
CLOTHING_API_URL=
POWERBANK_API_URL=
PROJECTOR_API_URL=
